{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block extra_estilos %}
    <style type="text/css">
        #mapa {
            height: 500px;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap-daterange-picker/daterangepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/libs/bootstrap-daterange-picker/daterangepicker.min.css' %}">
    <!-- DATA TABLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/datatables-net/media/css/dataTables.bootstrap4.min.css' %}"> <!-- original -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/libs/datatables-net/datatables.min.css' %}"> <!-- customization -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2/css/select2.min.css' %}"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/libs/select2/select2.min.css' %}"> <!-- Customization -->
{% endblock %}

{% block scrumb %}
            <div class="ks-page-header">
                <section class="ks-title-and-subtitle">
                    <div class="ks-title-block">
                        <h3 class="ks-main-title">Control</h3>
                        <div class="ks-sub-title">Control de Estaciones</div>
                    </div>
                </section>
            </div>
        {% endblock %}

{% block contenido %}

<div class="container-fluid">
    
<h4>Rango de Fecha <span class="text-right" style="float: right;">Exportar</span></h4>
                                <div class="row">
                                    <form class="form-group col-xl-6 col-md-6 col-sm-12" method="get">{% csrf_token %}
                                        <div class="form-group input-group icon icon-lg">
                                                <input type="text" name="daterange" value="" class="form-control ks-daterange col-xl-4">
                                                <input type="text" id="inicio" name="inicio" readonly="true" style="display: none">
                                                <input type="text" id="fin" name="fin" readonly="true" value="31/12/2040" style="display: none">
                                                <button type="submit" class="input-group-addon" style="width:121px;">
                                                    <span class="la la-filter"><p style="display: inline; font-family: 'Montserrat', sans-serif">Filtrar</p></span>
                                                </button>
                                        </div>
                                    </form>
                                    <div class="form-group col-md-6 text-right">
                                        {% if inicio or fin %}
                                            <a id="crear_detalle" href="/report/?inicio={{ inicio }}&fin={{ fin }}" class="btn btn-primary-outline ks-solid"><i class="la la-file-excel-o"></i> Pdf</a>
                                        {% else %}
                                            <a id="crear_detalle" href="/report/" class="btn btn-primary-outline ks-solid"><i class="la la-file-excel-o"></i> Pdf</a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if filtro_msg %}
                                <div class="alert alert-info ks-solid-light" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="la la-close"></span>
                                    </button>
                                    <strong>Info!</strong> {{ filtro_msg }}. <br>
                                    {{ marcaciones.count }} marcaciones encontradas.
                                </div>
                                {% endif %}
                                
                                <div class="row">
                                    <div class="col-xl-9 col-md-8 col-sm-12">
                                        <table id="ks-datatable" class="table table-striped table-bordered" width="100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Sector</th>
                                                <th>Propiedad</th>
                                                <th>Fecha</th>
                                                <th>Inicio</th>
                                                <th>Fin</th>
                                                <th>Reposición</th>
                                                <th>Incidencia</th>
                                                <th>Operador</th>
                                                <th>Observaciones</th>
                                                                                                
                                            </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Sector</th>
                                                    <th>Propiedad</th>
                                                    <th>Fecha</th>
                                                    <th>Inicio</th>
                                                    <th>Fin</th>
                                                    <th>Reposición</th>
                                                    <th>Incidencia</th>
                                                    <th>Operador</th>
                                                    <th>Observaciones</th>
                                                                                                    
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            {% for control in controles %}
                                            <tr>
                                                <td>{{ control.estacion }}</td>
                                                <td>{{ control.estacion.sector }}</td>
                                                <td>{{ control.estacion.sector.propiedad }}</td>
                                                <td style="text-align: center;">{{ control.fecha|date:"d-m-Y"}}</td>                                            
                                                <td style="text-align: center;">{{ control.inicio }}</td>
                                                <td style="text-align: center;">{{ control.fin }}</td>
                                                <td style="text-align: center;">
                                                    {% if control.a_reposicion or contol.a_reemplazo %}
                                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sí
                                                    {% else %}
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> No
                                                    {% endif %}
                                                </td style="text-align: center;">
                                                <td style="text-align: center;">
                                                    {% if control.e_ausencia or contol.e_consumido or contol.e_deteriorado or e_pa_deteriorada or e_no_acceso %}
                                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sí
                                                    {% else %}
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> No
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% for operador in control.operador.all %}
                                                    {{ operador }}
                                                    {% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td style="text-align: center;">
                                                    {% if control.observacion %}
                                                        {{ control.observacion }}
                                                    {% else %}
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    {% endif %}
                                                </td>  
                                                
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                            </div>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}

{% block extra_scripts %}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/responsejs/response.min.js' %}"></script>
<script src="{% static 'libs/loading-overlay/loadingoverlay.min.js' %}"></script>
<script src="{% static 'libs/tether/js/tether.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libs/jscrollpane/jquery.jscrollpane.min.js' %}"></script>
<script src="{% static 'libs/jscrollpane/jquery.mousewheel.js' %}"></script>
<script src="{% static 'libs/flexibility/flexibility.js' %}"></script>
<script src="{% static 'libs/noty/noty.min.js' %}"></script>
<script src="{% static 'libs/velocity/velocity.min.js' %}"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{% static 'assets/scripts/common.min.js' %}"></script>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'libs/momentjs/moment-with-locales.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-daterange-picker/daterangepicker.js' %}"></script>
<script type="application/javascript">
(function ($) {
    $(document).ready(function() {
        $('.ks-daterange').daterangepicker();
    });
})(jQuery);
</script>
<!-- DATA TABLES -->

<script src="{% static 'libs/datatables-net/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables-net/media/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/select2/js/select2.min.js' %}"></script>



{% endblock %}